body {
    background-color: aquamarine;
}

button {
    text-align: center;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid blueviolet;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Prevents highlighting after mouse clicks. */
:focus {
    outline: none !important;
}

.buttons {
    text-align: center;
    margin: auto;
}

.inputBar {
    background-color: white;
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 154px;
    font-size: 20px;
    min-height: 23px;
    text-align: right;
    padding-right: 3px;
    padding-left: 3px;
}

.welcomeMessage {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}